@import '~styles/variables';
@import '~styles/mixins';

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing auto;
  border-bottom: 1px solid $color-white;
  padding-bottom: $spacing;

  &:last-of-type {
    border-bottom: 0;
  }
}

.panel-figure {
  width: 200px;

  .panel-img {
    width: 100%;
  }
}

.panel-description {
  width: calc(100% - 200px);
  padding: $spacing;
}

.panel-title {
  font-size: $font-size-big;
  margin-bottom: $spacing;
  display: block;
}


@include breakpoint {
  .panel {
    flex-flow: column wrap;
    text-align: center;
  }

  .panel-description {
    width: 100%;
  }
}
