
// Colors
$color-main: #460303;
$color-coffee: #2D1D1D;
$color-black: #000;
$color-white: #FFF;
$color-variant: #E19393;
$color-marvel: #F12022;

// Font sizes
$font-size-default: 16px;
$font-size-small: 10px;
$font-size-big: 22px;

// Spacing
$spacing: 20px;
$field-size: 50px;

// Screen sizes
$desktop-max-width: 1020px;
$desktop-min-width: 980px;
$tablet-width: 780px;
$mobile-width: 480px;
$mobile-min-width: 320px;
